/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  /* Cambia el color de fondo a tu elección */
  background-color: #ecececf0; /* Cambia #ff0000 al código de color que desees */
}
.body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; /* Puedes ajustar según tus preferencias */
  margin-top: 20px;
}

.canvas {
  flex: 3; /* Esta proporción determina el espacio relativo entre Canvas y Consola */
  /* background-color: magenta; Color de prueba */
  height: 550px; /* Puedes ajustar según tus preferencias */
}

.consola {
  flex: 2; /* Esta proporción determina el espacio relativo entre Canvas y Consola */
  /* background-color: black; Color de prueba */
  height: 530px; /* Puedes ajustar según tus preferencias */
  color: rgb(0, 0, 0); /* Color de texto */
  padding: 10px;
}

.menu-configuracion {
  width: 90%;
  /* background-color: yellow; Color de prueba */
  height: 150px; /* Puedes ajustar según tus preferencias */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 50px;
}

/* header */
.header-segment {
  background-color: #1b1c1d; /* Color de fondo oscuro predeterminado de Semantic UI */
  width: 100%; /* Ocupa todo el espacio horizontal disponible */
  padding: 15px 0; /* Espaciado vertical para darle algo de altura */
  margin: 0; /* Eliminar cualquier margen predeterminado */
  border-radius: 0; /* Hacer que las esquinas sean completamente cuadradas, sin bordes redondeados */
}

.header-segment .header {
  color: #21ba45; /* Color de texto verde predeterminado de Semantic UI para darle contraste */
  font-size: 1.5em; /* Tamaño de fuente más grande para que sea prominente */
}

/* Estilos responsivos para el header */
@media (max-width: 768px) {
  .header-segment .header {
    font-size: 1.2em; /* Tamaño de fuente ligeramente más pequeño en dispositivos móviles */
  }
}

/* Responsive */

@media (max-width: 768px) {
  .body-content {
      flex-direction: column; /* Apila los elementos verticalmente */
      align-items: stretch; /* Hace que los hijos se estiren para ocupar el ancho completo */
  }

  .canvas, .consola {
      flex: none; /* Se deshace del flex porque no es necesario cuando se apilan verticalmente */
      width: 100%; /* Ocupa todo el ancho posible */
      margin-top: 5px; /* Añade un margen superior para separarlos */
      /* Elimina la altura fija para permitir flexibilidad */
      height: auto; 
      min-height: 150px; /* Esto asegura un mínimo de altura pero permite que crezca si es necesario */
  }
  .consola {
    margin-bottom: 60px; /* Añade un margen superior para separarlos */
}
  
  .menu-configuracion {
      margin-top: 30px; /* Ajusta el margen si es necesario */
      /* Elimina la altura fija para permitir flexibilidad */
      height: auto; 
      min-height: 80px; /* Puedes ajustar este valor si es necesario */
  }
}

@media only screen and (max-width: 768px) { /* Umbral para tablets y dispositivos móviles */
  .menu-configuracion {
      flex-direction: column; /* Apila elementos verticalmente */
  }
}

