/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  /* Cambia el color de fondo a tu elección */
  background-color: #ecececf0; /* Cambia #ff0000 al código de color que desees */
}


.header {
  margin-top: 10px;
}

.body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; /* Puedes ajustar según tus preferencias */
  margin-top: 20px;
}

.canvas {
  flex: 3; /* Esta proporción determina el espacio relativo entre Canvas y Consola */
  /* background-color: magenta; Color de prueba */
  height: 550px; /* Puedes ajustar según tus preferencias */
}

.consola {
  flex: 2; /* Esta proporción determina el espacio relativo entre Canvas y Consola */
  /* background-color: black; Color de prueba */
  height: 530px; /* Puedes ajustar según tus preferencias */
  color: rgb(0, 0, 0); /* Color de texto */
  padding: 10px;
}

.menu-configuracion {
  width: 90%;
  /* background-color: yellow; Color de prueba */
  height: 50px; /* Puedes ajustar según tus preferencias */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 20px;
}
